@inject IJSRuntime JS

<div class="modal fade" id="addMachineModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="model" OnValidSubmit="AddMachine">

                <div class="modal-header">
                    <h5 class="modal-title">Add machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label for="new-machine-name" class="form-label">Machine name</label>
                        <InputText id="new-machine-name"
                                   class="form-control"
                                   @bind-Value="model.Name"
                                   placeholder="Machine name" />
                    </div>
                    <div class="form-check mb-3">
                        <InputCheckbox id="new-machine-online-state"
                                       class="form-check-input"
                                       @bind-Value="model.IsOnline" />
                        <label for="new-machine-online-state" class="form-check-label">Connect the machine when creating</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Machine</button>
                </div>
            </EditForm>

        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<AddMachine> OnAddMachine { get; set; }

    private AddMachine model = new();

    private async Task AddMachine()
    {
        // spara maskin
        if (OnAddMachine.HasDelegate) {
            await OnAddMachine.InvokeAsync(model);
        }
        model = new();
        await JS.InvokeVoidAsync("hideModal", "addMachineModal");
    }

    protected override void OnParametersSet()
    {
        model = new AddMachine();
    }
}