@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">

    <!-- NAVBAR -->
    <NavMenu></NavMenu>


    <!-- PAGE CONTENT -->
    <main class="flex-fill">

        <div class="container py-4">

            @Body

        </div>

    </main>


    <!-- FOOTER -->
    <footer class="">
        <div class="container py-3 text-muted small">
            MachinePark Demo
        </div>
    </footer>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
