@page "/"
@* @rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) *@
@using MachinePark.Client.Components
@using MachinePark.Client.Services
@using MachinePark.State

<PageTitle>MachinePark Dashboard</PageTitle>

<h1>Dashboard</h1>
<h6 class="text-muted">Overview of your industrial IoT devices.</h6>

<div class="container mt-4">

    <div class="row">
        <p>@Test</p>
        <!-- Left card (4 columns) -->
        <div class="col-md-4">
            <StatisticsCard />
        </div>

        <!-- Right card (8 columns) -->
        <div class="col-md-8">
            <MachineTableCard Machines="_machines" OnToggleOnlineState="ToggleOnlineState" />
        </div>
    </div>

</div>
@code {

    [Inject]
    private MachineApi Api { get; set; } = null!;

    [Inject]
    private MachineState State { get; set; } = null!;

    private List<Machine> _machines = [];

    private string Test { get; set; } = "init";

    protected async override Task OnInitializedAsync()
    {
        await FetchMachines();
    }

    private async Task ToggleOnlineState(Machine machine)
    {
        await (machine.IsOnline ? Api.StopMachineAsync(machine.Id) : Api.StartMachineAsync(machine.Id));
        await FetchMachines();
        Test = $"update {machine.Name}";
    }

    private void UpdateCount() => State.SetCount(_machines);

    private async Task FetchMachines()
    {
        _machines = await Api.GetMachinesAsync();
        UpdateCount();
    }
}