@using MachinePark.State

<div class="card shadow-sm">
    <div class="card-header">
        Statistics
    </div>

    <div class="card-body">
        Total: @State.CountTotal<br />
        Running machines: @State.CountOnline<br />
        Stopped machines: @State.CountOffline
    </div>
</div>
@code {
    [Inject]
    private MachineState State { get; set; } = null!;
    protected override void OnInitialized()
    {
        State.OnChange += HandleStateChanged;
    }

    private void HandleStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        State.OnChange -= HandleStateChanged;
    }
}